html {
    background-color: #aac5b5;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

h1 {
    font-size: 40px;
    color:rgb(131, 24, 133);
    text-align: right;
}


li {
    font-size: 20px;
    line-height: 3;
    letter-spacing: 1px;  
}

.cool {
    letter-spacing: 3px;
}

.bold{
    font-weight:bold;
    color:midnightblue
}

.true{
    color:greenyellow
}

#false{
    color:red
}

#rad{
    color:deeppink
}

body {
    background-color: #ccd5ca;
    width: 700px;
    margin: 0 auto;
}